header {
    display: flex;
    padding-inline: 16px;
    padding-block: 8px;
    background-color: #387;
    color: white;
    align-items: center;
    justify-content: space-between;

    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        // der erste direkte span, nicht alle davon
        > span {
            cursor: pointer;
            &:hover {
                color: #000;
            }
        }
    }

    #pokeball , #hoenn-dex {
        cursor: pointer;
        max-height: 32px;
    }


}