<div class="big box" 
    [style.background-color]="datenSignal().farbe">
    <p class="name" [style.background-color]="akzentFarbe">
        {{datenSignal().name}}
    </p>
    <p class="hp" [style.background-color]="akzentFarbe">
        {{datenSignal().hp}} 
    </p>

    <img class="bild" 
        [ngSrc]="datenSignal().bildUrl" 
        width=200 height=200 
        (click)="switchPictures()"
        alt="Offizielles Pokemon Artwork">
    <p class="pokedex" [style.background-color]="akzentFarbe">
        Nr. {{pokedexNumber}}
    </p>
    <p class="beschreibung">{{datenSignal().beschreibung}}</p>
</div>



<button (click)="getRandomNationalDexPokemon()">Neues Pokemon</button>